body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  margin:auto;
  background-color: white;
}

.logo {
  text-align: center;
  padding-top: 25px;
}

h2 {
  text-align: center;
  padding: 20px;
}

h3 {
  margin: 10px 3px 3px 3px;
  text-align: center; 
}

p {margin: 3px;}

h4 {
  margin: 3px;
}

h5 {text-align: center;}

::placeholder {color: darkgrey;}

/* index.html */
#header {
  height: 40px;
  border-bottom: 1px solid darkgray;
}

.workSpace {
  max-width: 100%;
  margin: 50px 10%;
  min-height: 450px;
  background-color: whitesmoke;
  position: relative;
  color: black;
}

.resultSpace {
  max-width: 100%;
  margin: 50px 10%;
  min-height: 100px;
  background-color: whitesmoke;
  position: relative;
  color: black;
}

#surveyLaunch {
  border: 3px double #BF8B85;
  display: table;
  margin: 0 auto;
  background-color: #8c271e;
  padding: 5px;
  width: 100px;
  text-align: center;
}

#surveyLaunch a {
  color: ghostwhite;
  text-decoration: none;
  font-size: large;
}

#surveyLaunch:hover {
  box-shadow: 0 0 5px 2px rgba(6, 93, 143, 0.712);
  transition-timing-function: ease-in;
  transition-delay: .1s;
  background-color: #0081a7;
  border: 3px double deepskyblue;
}

.homepage-text {
  font-size: x-large;
  padding: 20px;
}

.sectionHeader {
  height: 100%;
}

/* survey.html */
.survey-header {
  height: 40px;
  border-bottom: 1px solid #545E56;
  text-align: center;
  font-size: x-large;
  vertical-align: auto;
  line-height: 40px;
}

.survey-content {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.survey-instructions {
  width: 50%;
  float: left;
  padding: 5px;
}

.survey-fields {
  border-left: 1px solid darkgray;
  width: 48%;
  float: left;
  padding: 5px;
}

#personalDetails, .investmentSelect {
  width: 50%;
  float: left;
}

.personalDetails-format {
  display: table;
  margin: 0 auto;
}

.incomeList, .investList {
  width: 50%;
  float: left;
}

.survey-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.survey-footer-container {
  display: table;
  margin: 0 auto;
}

#formNav {
  display: flex;
  margin: 0 auto;
}

input, select {
  display: inline-block;
}

label:not(.accountItems) {
  font-size: medium;
  display: inline-block;
  font-weight: bold;
}

input[type="number"],input[type="text"],input[type="date"] {
  width: 150px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
select.invalid, input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  height: 100%;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #0081a7;
}

.controls {
  margin: 0 1%;
  background-color: white;
  width: fit-content;
}

.controls p {
  font-size: medium;
}

#retSalCalc {
  background-color: white;
  width: 250px;
  height: 359px;
  position: absolute;
  top: 41px;
  left: 4%;
  text-align: center;
  display: none;
  font-size: x-large;
}

.slide-in {
  animation: slide-in 2s forwards;
}

.slide-out {
  animation: slide-out 2s forwards;
}

input.ecaCalculator {
  width: 35px;
  font-size: medium;
}

#instructionModal {
  background-color: rgba(6, 93, 143, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1000;
}

#instructionModal div {
  background-color: white;
  max-width: 500px;
  height: auto;
  transform: translate(50%, 50%);
  padding: 5px;
  z-index: 900;
}

.optOut {
  margin-top: 24px;
  text-align: center;
  color: #545E56;
}

#instructionModal button {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#instructionModal h4 {
  text-align: left;
}

#iraModal, #simpleModal, #ecaModal {
  background-color: white;
  width: 40%;
  height: 235px;
  border-style: ridge;
  border-radius: 5px;
  position: absolute;
  float: left;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 5px;
  display: none;
}

#ecaModal {
  width: 50%;
}

#iraModal, #simpleModal, #ecaModal p {
  text-align: justify;
}

#iraModal, #simpleModal, #ecaModal table {
  margin: 0 auto 0 auto;
}

#modalClose {
  display: block;
  margin: 0 auto 10px auto;
}

[data-title] {
  position: relative;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility:  visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: white;
  color: #111;
  font-size: 100%;
  position: absolute;
  padding: 0 3px;
  top: 0px;  
  left: 0px;
  transform: translate(-100%, -15%);
  transition-duration: 0.5s;
  width: fit-content;
  white-space: nowrap;
  box-shadow: 1px 1px 3px darkgray;
  opacity: 0;
  border: 1px solid darkgray;
  /* border-radius: 5px; */
  z-index: 99999;
  visibility: hidden;
}

[data-value]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility:  visible;
}

[data-value]:after {
  content: attr(data-value);
  background-color: white;
  color: #111;
  font-size: 100%;
  position: absolute;
  padding: 0 3px;
  top: 0px;  
  right: 0px;
  transform: translate(100%, 50%);
  transition-duration: 0.5s;
  width: fit-content;
  white-space: nowrap;
  box-shadow: 1px 1px 3px darkgray;
  opacity: 0;
  border: 1px solid darkgray;
  border-radius: 5px;
  z-index: 99999;
  visibility: hidden;
}

[data-value] {
  position: relative;
}

#calculator {
  vertical-align: middle;
  cursor: pointer;
}

/* Report User Controls */
#emailForm {
  position: fixed;
  top: 68px;
  left: 30%;
  background-color: white;
  z-index: 2000;
  display: none;
  padding: 0 3px;
}

#emailForm legend {
  font-weight: bold;
}

#emailForm fieldset, input[type=button] {
  margin-bottom: 5px;
}

#emailForm input[type=button], input[type=submit] {
  margin-left: 8px;
}

/* Results Narrative */
.header {
  max-width: 100%;
  margin: 0 10% -50px 10%;
  height: 50px;
  padding-bottom: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  line-height: 60px;
}

.header button:first-of-type {
  margin-left: 10%;
}

.header button {
  margin-right: 1%;
}

#logoSmall {
  float: right;
  margin-right: 3%;
}

#controlTitle {
  display: none;
}

#mobileReportTitle {
  display: none;
}

#reportTitle {
  display: none;
}

.intro {
  font-weight: bold;
  font-size: x-large;
}

.reportAge {
  font-weight: bold;
  font-size: large;
}

.reportDollar {
  font-weight: bold;
}

#results {
  padding: 5px;
}

#expenseTable {
  float: right
}

#methods {
  font-size: small;
}

#tableView {
  display: none;
  max-height: 100%;
}

#tableView td:first-child {
  position: sticky;
  left: 0;
  background-color: white;
  border: 1px solid #0081a7;
}

/* Results Table Styles */

table#retirementExpenses {
  border-collapse: collapse;
  border-spacing: 0px; 
  margin-left: 10px;
}

#retirementExpenses td, #retirementExpenses th {
  border: 1px solid #0081a7;
}

.tdRight {
  text-align: right;
  padding: 0 2px;
}

table#resultsTable {
  border: 1px solid #0081a7;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
  background-color: white;
}

table#resultsTable td {
  border: 1px solid #0081a7;
  width: 1px;
  white-space: nowrap;
}

.drawdownTable {
  overflow: auto;
}

.tableContainer {
  overflow: scroll;
}

table#drawdownTable {
  border: 1px solid #0081a7;
  font-size: 1em;
  margin: 0 auto;
  overflow: auto;
}

table#drawdownTable td {
  border: none;
  border-collapse: collapse;
}

#tableInstr {
  display: none;
}

td:first-child {
  font-weight: bold;
}

td::first-letter {
  text-transform: uppercase;
}

#missingButtons {
  display: none;
}

@media screen and (max-width: 900px) {
  #splashScreen {
    padding: 1%;
  }

  body {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .workSpace {
    max-width: 100%;
    margin: 0;
  }

  label, p {
    font-size: larger;
  }

  button {
    font-size: large;
  }

  .survey-header {
    height: unset;
    border-bottom: 1px solid #545E56;
    text-align: center;
    font-size: x-large;
    vertical-align: auto;
    line-height: 40px;
  }

  #instructionModal {
    background-color: unset;
    position: relative;
    top: unset;
    height: unset;
    width: unset;
    display: none;
    z-index: unset;
  }
  
  #instructionModal div {
    background-color: whitesmoke;
    max-width: unset;
    height: auto;
    transform: unset;
    padding: 5px;
    z-index: 900;
  }
  
  .optOut {
    margin-top: 24px;
    text-align: center;
    color: #545E56;
  }
  
  #instructionModal button {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  #instructionModal h4 {
    text-align: left;
  }

  #personalDetails, .investmentSelect {
    width: unset;
    float: unset;
  }

  .personalDetails-format {
    display: table;
    margin: unset;
  }
  
  .incomeList, .investList {
    width: unset;
    float: unset;
  }

  #calcLineBreak {
    display: block;
  }

  #retSalCalc {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 41px;
    left: 0;
    text-align: left;
    display: none;
  }

  .mobileReplace {
    display: none;
  }

  .mobileEquals {
    display: inline;
  }

  .survey-footer {
    width: unset;
    position: unset;
    bottom: unset;
    margin: 2% 0;
  }

  .survey-instructions {
    width: unset;
    float: unset;
    padding: 1%;
  }
  
  .survey-fields {
    border-left: unset;
    width: unset;
    float: unset;
    padding: 1%;
  }

  [data-title] {
    position: relative;
  }
  
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.0s;
    visibility:  visible;
    animation: seconds 0.5s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
  }
  
  [data-title]:after {
    content: attr(data-title);
    background-color: white;
    color: #111;
    font-size: 100%;
    position: absolute;
    padding: 0 3px;
    top: 0px;
    left: 0px;
    transform: translate(0%, -100%);
    transition-duration: 0.5s;
    width: 250px;
    white-space: pre-wrap;
    box-shadow: 1px 1px 3px darkgray;
    opacity: 0;
    border: 1px solid darkgray;
    z-index: 99999;
    visibility: hidden;
  }
    
  [data-value] {
    position: relative;
  }
  
  [data-value]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility:  visible;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
  }
  
  [data-value]:after {
    content: attr(data-value);
    background-color: white;
    color: #111;
    font-size: 100%;
    position: absolute;
    padding: 0 3px;
    top: 0px;  
    right: 0px;
    transform: translate(100%, 0%);
    width: unset;
    max-width: fit-content;
    white-space: pre-line;
    box-shadow: 1px 1px 3px darkgray;
    opacity: 0;
    border: 1px solid darkgray;
    border-radius: 0;
    z-index: 99999;
    visibility: hidden;
    margin-right: 3%;
  }

  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }

  .controls input[type="number"] {
    width: 300px;
    font-size: large;
  }

  /* input[type="number"],input[type="text"],input[type="date"] {
    width: 300px;
    border: 1px solid #aaaaaa;
  } */

  #iraModal, #simpleModal, #ecaModal {
    background-color: white;
    width: 100%;
    height: unset;
    border-style: unset;
    border-radius: unset;
    position: absolute;
    float: unset;
    left: 0;
    bottom: 0;
    /* top: 41px; */
    transform: unset;
    padding: 3% 0;
    border-top: 3px double;
  }
  
  #ecaModal {
    max-width: 100%;
  }
  
  #iraModal, #simpleModal, #ecaModal p {
    text-align: justify;
  }
  
  #iraModal, #simpleModal, #ecaModal table {
    margin: 0;
  }
  
  #modalClose {
    display: block;
    margin: 0 auto 10px auto;
  }

  .survey-footer {
    padding-bottom: 2%;
    margin-bottom: unset;
  }

  /* Results Narrative */
  .resultSpace {
    margin: unset;
    background-color: snow;
  }
  
  .header {
    max-width: 100%;
    margin: 0 1%;
    height: 100%;
    padding-bottom: unset;
    border-bottom: 1px solid #545E56;
    background-color: snow;
    position: sticky;
    top: 0;
    z-index: 1000;
    line-height: unset;
    text-align: center;
  }

  .header button:first-of-type {
    margin-left: unset;
  }

  .header button {
    margin-right: unset;
    margin: 1%;
  }

  #printButton, #sendButton {
    display: none;
  }

  #logoSmall {
    display: none;
  }

  #controlTitle {
    margin-bottom: 0;
    display: inline;
  }

  #reportTitle {
    display: none;
  }

  #mobileReportTitle {
    display: inline;
  }

  #tableInstr {
    display: inline;
    text-align: center;
  }

  #missingButtons {
    background-color: #ffe2ea;
    display: inline-block;
    color: #5a2822;
    cursor: pointer;
  }

  #missingButtonsClose {
    float: right;
    color: #5a2822;
    font-size: 28px;
    font-weight: bold;
    margin-right: 3%;
    margin-top: 1.5%;
    
  }

  /* Report User Controls */
  /* #emailForm {
    position: absolute;
    top: 117px;
    left: 0%;
    background-color: white;
    z-index: 2000;
    display: none;
    padding: 0;
    max-width: max-content;
  }

  #contactDesc {
    width: 200px;
  } */
}