body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
}

legend {
  font-weight: bolder;
}

.prompts, .fields {
  display: inline-block;
  font-size: large;
}

.accountHeader {
  font-weight: bold;
}

/* input {
  position: fixed;
  right: 20px;
  margin: 2px;
} */

p {
  margin: 3px;
}

#dataForm {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 40px;
  min-width: 300px;
}

input[type="number"],input[type="text"],input[type="date"] {
  width: 100px;
  border: 1px solid #aaaaaa;
}

.ecaCalculator {
  width: 35px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
/* .step.finish {
  background-color: #4CAF50;
} */