body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
}

#demoCol1, #demoCol2 {
  display: inline-block;
}

legend {
  font-weight: bolder;
}

.prompts, .fields {
  display: inline-block;
}

.accountHeader {
  font-weight: bold;
}

input {
  /* position: fixed;
  right: 20px;
  margin: 2px; */
}

p {
  margin: 3px;
}